<!-- Todos input -->
<form role='form'>
	<div class='row'>
		<p class='input-group'>
			<input type='text' ng-model='todo.task' class='form-control' placeholder='What needs to be done?'/>
			<span class='input-group-btn'>
				<button type='submit' class='btn btn-primary' ng-click='addTodo(todo)'>Add</button>
			</span>
		</p>
	</div>
</form>

<!-- Todo list -->
<div ui-sortable ng-model='todos'>
	<p class='input-group animate-hide' ng-repeat='todo in todos' ng-hide='todo.completed || todo.expired'>
		<input type='text' class='form-control' ng-model='todo.task' ng-change='editTodo(todo)'/>
		<span class='input-group-addon'>{{expiredTodo(todo)}}</span>
		<span class='input-group-btn'>
			<button type='button' ng-model='todo.completed' ng-click='completedTodo(todo)' class='btn' ng-class="{'btn-success': todo.completed}">
				<i class='glyphicon glyphicon-ok'></i>
			</button>
			<button type='button' ng-click='removeTodo($index)' class='btn btn-danger'>
				<i class='glyphicon glyphicon-remove'></i>
			</button>
		</span>
	</p>
</div>
