.container {
	margin-top: 100px;
}
.panel {
	padding: 25px;
}
.nav-pills li {
	float: right;
	margin-bottom: 10px;
}
.input-group{
	padding: 5px 10px;
	cursor: move;
}
 
/* :hover {
	color: #fff;
  	background-color: #5cb85c;
  	border-color: #4cae4c;
} */

.animate-hide.ng-hide {
  	transition: 0.5s linear all;
  	opacity: 0;
}

.display-time {
	width: 10%;
	min-width: 20px;
	max-width: 50px;
}