<!-- Todos input -->
<form role='form' ng-submit='addTodo()'>
	<div class='row'>
		<p class='input-group'>
			<input type='text' ng-model='todo.task' class='form-control' placeholder='What needs to be done?'/>
			<span class='input-group-btn'>
				<button type='submit' class='btn btn-primary'>Add</button>
			</span>
		</p>
	</div>
</form>

<!-- Todo list -->
<div ui-sortable ng-model='todos'>
	<p class='input-group' ng-repeat='todo in todos'>
		<input type='text' ng-model='todo.task' class='form-control'/>
		<span class='input-group-btn'>
			<button type='button' ng-model='todo.complete' ng-click='completeTodo(todo)' class='btn' ng-class="{'btn-success': todo.complete}">
				<i class='glyphicon glyphicon-ok'></i>
			</button>
			<button type='button' ng-click='removeTodo($index)' class='btn btn-danger'>
				<i class='glyphicon glyphicon-remove'></i>
			</button>
		</span>
	</p>
</div>